/*ESTILIZAÇÃO DO MODAL PACIENTE*/
 .modal-body{
   height:300px;
   overflow: auto;
 }

 #modal_escolha{
   width: 450px;
 }
 
.modal-header{
    background-color: #00beaa;
    border-radius: 5px;
    color: #f3f3f3;
}

.input-group{
  margin: 7px 10px 5px 10px;
}

.list li{
  color: #00beaa;
  list-style: none;
  display: inline-block;
  margin-left: 18%;
  margin-right: 12%;
}

 .modal-dialog{
   font-family: 'Raleway', sans-serif !important;
   width: 400px;
 }

 .modal-body:hover{
   overflow-y:auto;
 }

 .fade{
  opacity:1;
  -webkit-transaction: opacity 2s linear;
  transaction:opacity 2s linear;
 }
 
 .close{
    position: relative;
    top: -30px;
    right: 0;
 }
 
 .close:hover{
    background: transparent !important;
    color: #000;
 }
 
 /*ESTILIZAÇÃO DA TABELA MODAL PACIENTE*/
table{
    border-collapse: separate;
    border-spacing: 9px;
    text-transform: uppercase;
}
 

.conteudo .titulo-table{
    color: #00beaa;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0;
}

.conteudo th{
    padding: 25px 0;
}
 
.conteudo tr td{
    padding: 2px 0;
}
 
.modal-body::-webkit-scrollbar { width:5px; background: #00beaa;}
.modal-body::-webkit-scrollbar-track { background: #4e4e4e; }
.modal-body::-webkit-scrollbar-thumb { border-radius:20px; background: #00beaa;}
.modal-body::-webkit-scrollbar-corner { visibility: hidden;}
.modal-body::-webkit-resizer { visibility: hidden; }